/* GLOBAL */
* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif; /*300-400-500*/
}

:root {
  --header-bg: #16172a;
  --main-bg: #434967;
  --second-bg: #6c7391;
  --card-bg: #222a45;
  --text-color: #eff0fb;
  --add-btn: #fc8a53;
  --shadow: 0, 0, 0;
  --main-el: #00cccc;
  --secondary-el: #f07167;
}

/* MAIN */
body {
  background-color: var(--card-bg);
}
main {
  transition: all 0.2s;
}
#container {
  /* background-color: var(--card-bg); */
  padding: 0 100px;
}

.collection {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}

/* HEADER */
header {
  height: 100px;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 4px 4px rgba(var(--shadow), 0.15), 0 12px 12px rgba(var(--shadow), 0.15),
    0 14px 14px rgba(var(--shadow), 0.15);
}

h1 {
  font-weight: 500;
  font-size: 2.5em;
  color: var(--text-color);
}

/* GRID and CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  grid-gap: 20px;
  margin-top: 30px;
}

.book-card {
  background-color: var(--main-bg);
  width: 250px;
  height: 260px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  color: var(--text-color);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px rgba(var(--shadow), 0.15), 0 2px 2px rgba(var(--shadow), 0.15),
    0 4px 4px rgba(var(--shadow), 0.15), 0 8px 8px rgba(var(--shadow), 0.15),
    0 12px 12px rgba(var(--shadow), 0.15);
  transition: ease-out 0.15s;
}

.book-card:hover {
  transform: translateY(-0.2rem);
  backface-visibility: hidden;
  will-change: contents;
}

.book-title {
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 15px;
  width: 210px;
  height: 80px;
  background-color: #7e87af;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.book-author {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 2px;
}

.author-line {
  width: 80px;
  height: 4px;
  border: none;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: var(--second-bg);
}

.book-page {
  font-size: 0.9em;
  padding-bottom: 20px;
}

.btns {
  height: 50px;
  display: flex;
  margin: 10px 10px;
  align-items: center;
  border-radius: 15px;
  justify-content: space-between;
  background-color: var(--second-bg);
}

.book-collection {
  font-size: 0.8em;
  margin-top: 10px;
  margin: 10px 10px;
  padding: 10px 20px;
  border-radius: 25px;
  color: var(--text-color);
  background-color: var(--main-bg);
  box-shadow: 0 1px 1px rgba(var(--shadow), 0.15), 0 2px 2px rgba(var(--shadow), 0.15),
    0 4px 4px rgba(var(--shadow), 0.15);
}

/* NEW BOOK BTN */
.new-book {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.new-book-btn {
  font-size: 2.2em;
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 35px;
  color: var(--card-bg);
  transition: ease-in-out 0.15s;
  background: linear-gradient(
    204deg,
    rgba(252, 204, 124, 1) 0%,
    rgba(254, 196, 99, 1) 0%,
    rgba(255, 171, 107, 1) 48%,
    rgba(244, 138, 109, 1) 89%
  );
}

.new-book-btn:hover {
  transform: scale(1.1) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
}

.read-btn,
.delete-btn,
.edit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.fas,
.far {
  color: var(--text-color);
  margin: 0 10px;
}

.fas {
  font-size: 18px;
}

.far {
  font-size: 20px;
}

.unread-icon,
.delete-icon,
.edit-icon {
  transition: ease-out 0.2s;
}

.unread-icon:hover,
.delete-icon:hover {
  color: var(--secondary-el);
  transition: ease-out 0.2s;
}

.edit-icon:hover {
  color: var(--main-el);
  transition: ease-out 0.2s;
}

/* MODAL */
.modal {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.show-modal {
  visibility: visible;
  background-color: rgba(var(--shadow), 0.3);
}

/* FORM */
#book-form {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border-radius: 30px;
  width: 320px;
  height: 350px;
  box-shadow: 2px 2px 4px rgba(var(--shadow), 0.15), 4px 4px 8px rgba(var(--shadow), 0.05);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;
}

.form-title {
  font-size: 1.8em;
  color: var(--text-color);
}

input {
  width: 260px;
  height: 30px;
  border: none;
  margin: 0 auto;
  background-color: var(--second-bg);
  color: var(--text-color);
  border-radius: 6px;
  padding: 0 10px;
}

input::placeholder {
  color: var(--text-color);
}

label {
  color: var(--text-color);
  font-weight: 500;
  margin: 10px auto;
  /* margin-bottom: 20px; */
  width: 150px;
}

/* FORM BUTTONS */
.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 150px;
}

input[type="checkbox"] {
  height: 1.5em;
}
#completed {
  margin-right: 10px;
}
#read {
  margin-left: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.submit,
.close {
  font-size: 1em;
  font-weight: 500;
  width: 100px;
  height: 35px;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 20px;
}
.submit {
  float: left;
  border: none;
  background-color: var(--main-el);
}

.close {
  float: right;
  line-height: 35px;
  background-color: var(--secondary-el);
}

input::-webkit-input-placeholder {
  opacity: 0.5;
}

.hidden {
  pointer-events: none;
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  transform: translateY(40%);
  opacity: 0;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 35px;
}

a {
  margin: 0 10px;
  color: var(--text-color);
  text-decoration: none;
  transition: ease-in-out 0.15s;
}
i:visited {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  transform: translateY(-0.2rem);
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
  .book-card:hover {
    transform: translateY(0rem);
  }
  .unread-icon:hover,
  .delete-icon:hover,
  .edit-icon:hover {
    color: var(--text-color);
  }
  .new-book {
    bottom: 10px;
    right: 10px;
  }
  footer {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
