/* GLOBAL */
* {
  box-sizing: border-box;
  outline: none;
  padding: 0 auto;
  margin: 0 auto;
}
/* ELEMENTS */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 8px;
  height: 35px;
}

/* GRID and CARDS */
.book-card {
  background: grey;
}
/* FOOTER */
i {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  transition: ease-in-out 0.15s;
}
i:visited {
  color: black;
  text-decoration: none;
}
i:hover {
  transform: translateY(-0.2rem);
}
