/* GLOBAL */
* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif; /*300-400-500*/
}

:root {
  --header-bg: #16172a;
  --main-bg: #434967;
  --card-bg: #222a45;
  --text-color: #eff0fb;
  --add-btn: #fc8a53;
  --shadow: rgba(0, 0, 0, 0.15);
}
/* ELEMENTS */
html {
  background-color: var(--card-bg);
}
.collection {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
#container {
  background-color: var(--card-bg);
  padding: 0 100px;
}
/* HEADER */
header {
  height: 110px;
  text-align: center;
  line-height: 110px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 12px 12px rgba(0, 0, 0, 0.15),
    0 16px 16px rgba(0, 0, 0, 0.15);
}
h1 {
  font-weight: 500;
  font-size: 2.5em;
  color: var(--text-color);
}

/* GRID and CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  grid-gap: 20px;
  margin-top: 30px;
}

.book-card {
  background-color: var(--main-bg);
  width: 250px;
  height: 260px;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  color: var(--text-color);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15), 0 12px 12px rgba(0, 0, 0, 0.15);
  transition: ease-out 0.15s;
}
.book-card:hover {
  transform: translateY(-0.2rem);
  backface-visibility: hidden;
  will-change: contents;
}
.book-title {
  font-size: 1.7em;
  margin-top: 15px;
  height: 80px;
  background-color: #7e87af;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.book-author {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 2px;
}
.author-line {
  width: 80px;
  height: 4px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  background-color: #6c7391;
}
.book-page {
  font-size: 14px;

  padding-bottom: 20px;
}
.btns {
  display: flex;
  height: 50px;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  background-color: #6c7391;
  border-radius: 15px;
}
.book-collection {
  margin-top: 10px;
  padding: 10px 10px;
  background-color: var(--main-bg);
  border-radius: 25px;
  font-size: 0.8em;
  color: var(--text-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15);
}
/* NEW BOOK BTN */
.new-book {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
.new-book-btn {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  border: none;
  font-size: 35px;
  color: var(--card-bg);
  transition: ease-in-out 0.15s;
  /* backface-visibility: hidden; */
  background: linear-gradient(
    204deg,
    rgba(252, 204, 124, 1) 0%,
    rgba(254, 196, 99, 1) 0%,
    rgba(255, 171, 107, 1) 48%,
    rgba(244, 138, 109, 1) 89%
  );
}
.new-book-btn:hover {
  transform: scale(1.1) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
}
.read-btn,
.delete-btn,
.edit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

.fas {
  font-size: 23px;
  margin: 0 10px;
  color: var(--text-color);
}
.far {
  font-size: 25px;
  margin: 0 10px;
  color: var(--text-color);
}
.unread-icon,
.delete-icon,
.edit-icon {
  transition: ease-out 0.2s;
}

.unread-icon:hover {
  color: #f07167;
  transition: ease-out 0.2s;
}
.delete-icon:hover {
  color: #f07167;
  transition: ease-out 0.2s;
}
.edit-icon:hover {
  color: #00cccc;
  transition: ease-out 0.2s;
}
/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* FORM */
#book-form {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border-radius: 30px;
  width: 320px;
  height: 350px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 2px 2px 2px rgba(0, 0, 0, 0.15),
    4px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-title {
  color: var(--text-color);
}
input {
  width: 260px;
  height: 30px;
  border: none;
  margin: 0 auto;
  background-color: #6c7391;
  color: var(--text-color);
  border-radius: 6px;
  padding: 0 10px;
}
input::placeholder {
  color: var(--text-color);
}
label {
  color: var(--text-color);
  font-weight: 500;
  margin: 10px auto;
  /* margin-bottom: 20px; */
  width: 150px;
}
.radio-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 150px;
}
input[type="radio"] {
  height: 1.5em;
}
#read {
  width: 150px;
}
.card-buttons {
  display: flex;
  justify-content: space-evenly;
}
#submit {
  width: 100px;
  height: 35px;
  float: left;
  margin: 0 auto;
  margin-bottom: 0;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #00cccc;
  color: var(--text-color);
  cursor: pointer;
}
.close {
  color: var(--text-color);
  float: right;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
  padding: 0 2px;
  background-color: #f07167;
  border-radius: 20px;
  user-select: none;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
}
.hidden {
  display: none;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 35px;
}

a {
  margin: 0 10px;
  color: var(--text-color);
  text-decoration: none;
  transition: ease-in-out 0.15s;
}
i:visited {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  transform: translateY(-0.2rem);
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
  .book-card:hover {
    transform: translateY(0rem);
  }
  .unread-icon:hover,
  .delete-icon:hover,
  .edit-icon:hover {
    color: var(--text-color);
  }
  .new-book {
    bottom: 10px;
    right: 10px;
  }
  footer {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
